
#fondoRegister { background: linear-gradient(to left,#4568DC,#B06AB3);}



.card{
    margin-top: 5rem;
    align-items: center;
    opacity: 0.8;
    border-radius: 20px;
   
    text-align: center;
    box-shadow: 0 2px 20px grey;

    cursor: pointer;
    transition: transform 200ms ease-in;
   
}



.card:hover {
  box-shadow: 5px 10px 20px 10px rgba(250, 247, 247, 0.27);
  transition: all 0.3s linear;
}



.Bienvenidos{
    color: white;
    margin-top: 5rem;
    margin-left: 1rem;
    /* background-image: url(../assets/student-g33a38f747_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;     
    height: 900px; */
}

.footer {
  margin-left: 1rem;

  display: block;
}