




<div class="alert alert-primary" role="alert">
 <h1>Bienvenido {{user.first_name}}</h1>
</div>
<button id="logoutbtn" class="btn btn-primary mb-3">Logout</button>
<script src="js/home.js"></script> 

