<main class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-12">

<div class="card container text-center"  style="width: 18rem;" >
  <img src="https://www.oyeme.pe/static/imagenes/login.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="color:  #6190E8" >LOGIN</h5>
  
<div >
    <form id="loginForm">
        <div>
            <label>Email</label>
            <input name="email"  placeholder="email@example.com">
        </div>
        <div>
            <label>Contraseña</label>
            <input  type="password" name="password" placeholder="Password">
        </div>
        <hr>
        <input type="submit" class="btn btn-primary mb-3" >
        <hr>
         <a  href="http://localhost:8080" class="btn btn-primary">Home</a>
           <a  href="http://localhost:8080/register" class="btn btn-primary">Ir a register</a>
    </div>  
     </div>
    </form>

</div>
  
<script src="js/login.js"></script>
 </div>
  </div>
                   
</main>
