

<script src="js/register.js"></script>



<div class="card" style="width: 18rem;">
  <img src="https://nanotec19.icb.csic.es/wp-content/uploads/2019/04/registration19_button_web.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Register</h5>


<div class="text-bg-primary p-3">
    <form id="registerForm">
        <div>
            <label>Nombre</label>
            <input name="first_name">
        </div>
        <hr>
        <div>
            <label>Apellido</label>
            <input name="last_name">
        </div>
        <hr>
        <div>
            <label>Email</label>
            <input name="email">
        </div>
        <hr>
        <div>
            <label>Edad</label>
            <input name="age">
        </div>
        <hr>
        <div>
            <label>Contraseña</label>
            <input name="password">
        </div>
        <hr>
        <input type="submit" class="btn btn-dark">
        <a  href="http://localhost:8080/login" class="btn btn-dark">ir login</a>
    </form>
</div>



   
   
  </div>
</div>