<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="style/register.css">
</head>
<body id="fondoRegister">
    


 <div class="row">
    <div class="col">
        <div class="Bienvenidos">
        <h2>BIENVENIDOS A OTRO ECOMMERCE</h2>
        <h3>Otro ecommerce que te ayuda a conseguir eso que tanto queres al alcance de un click</h3>
        <hr>
       
    </div>
 
  
    </div>
    <div class="col">
    
    </div>
    <div class="col">
     



 <div class="card" style="width: 18rem;">
  <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" class="card-img-top" alt="...">
  <div class="card-body container text-center">
    <h2 class="card-title">Register</h2>
   
    <form id="registerForm">
        <label>Nombre</label>
        <input name="name">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" class="btn btn-dark">
        <hr>    
        <label>¿Ya tienes una cuenta?</label>    
        <a  href="http://localhost:8080/login" class="btn btn-dark">Iniciar sesion</a>
    </form>
  
  </div>
</div>





    </div>
  </div>
</div>

<footer class="footer">
    <div>FOOTER</div>
</footer>







<script src="/js/register.js"></script>

</body>
</html>

